/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #1a1a1a;
    margin: 0;
    padding: 0;
}

h1 {
    color: #e3e0cd;
}

p {
    color: #e3e0cd;
    font-size: 20px;
}

button {
    background-color: #e3e0cd;
    color: #141c3a;
    width: 100px;
    border: none;
    border-radius: -5px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:after {
    content: "";
    width: 100%;
}

button:hover {
    background-color: #800000;
    color: #fff;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #800000;
    padding-bottom: 260px;
    position: absolute;
    bottom: 0;
    max-width: fit-content;
}

/*---------------------------------------------------------*/

/* custom classes */

/* Sidebar */
.sidebar {
    position: fixed;
    /* Fixed positioning */
    top: 0;
    /* Stick to the top */
    left: 0;
    /* Stick to the left */
    height: 100%;
    /* Take up full height of the viewport */
    width: 30px;
    /* Initial width */
    background-color: #e3e0cd;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    border-radius: 0 1rem 1rem 0;
    /* Adjusted border radius */
    transition: width .75s ease;
    z-index: 1;
    /* Ensure the sidebar appears above other content */
}

.sidebar:hover,
.sidebar.open {
    width: 200px;
}

/* List in sidebar*/
.sidebar-list {
    align-self: center;
    list-style-type: none;
    word-spacing: normal;
    padding-top: 20px;
}

.sidebar-ListTitle {
    font-size: 20px;
    font-family: monospace;
    color: #e3e0cd;
}

.listLink {
    text-decoration: none;
    font-size: 15px;
    color: #e3e0cd;
}

/*---------------------------------------------------------*/

.subtitle {
    font-size: 24px;
    font-weight: bold;
    color: #e3e0cd;
    margin: 0;
    padding: 0;
}

/* Container styles */
.container {
    width: calc(80% - 30px);
    /* Initial width */
    margin: 0 auto;
    padding: 20px;
    transition: width 0.5s ease, margin-left 0.5s ease;
    /* Add transition for smoother animation */
}

/* bento box */
.bento-box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: #000000;
    /* Marble background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    /* Add margin to separate from the sidebar */
}

/* Item styles */
.bento-box {
    background-color: #e3e0cd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333333;
    /* Slate text color */
    z-index: 0;
    /* Ensure the bento box appears below the sidebar */
}

.bento-box-about-me {
    background-color: #e3e0cd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333333;
    /* Slate text color */
}

.sidebar.open+.container {
    margin-left: 200px;
    /* Adjusted margin-left when sidebar is open */
    width: calc(80% - 200px);
    /* Adjusted width when sidebar is open */
}