/* Color Palette
Red: #D7263d
White: #f5f3f5
Black: #141414
burble: #473198
Grey: #abacad
*/


.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* Global styles */
body {
    font-family: "Manrope", sans-serif;
    background-color: #050505;
    color: #f5f3f5;
    margin: 0;
    padding: 0;
}

button {
    background-color: #141414;
    color: #f5f3f5;
    width: auto;
    border: none;
    border-radius: 0;
    padding: 15px 5px; /* go fuck yourself idiot */
    font-size: 24px;
    margin-right: 20px;
    margin-left: -10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    /* Ensure proper positioning of pseudo-element */
}

button:hover {
    /* background-color: #473198; */
    /* Change background color to white on hover */
    color: #f5f3f5;
    /* Change text color to match original button background */
}


/*---------------------------------------------------------*/

/* custom classes */

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 30px;
    background-color: #141414;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    border-radius: 0 0rem 0rem 0;
    transition: width .75s ease;
    z-index: 1;
    padding: 10px 20px 200px 0px;
}

.sidebar:hover {
    width: 200px;
}

/* List in sidebar*/
.sidebar-list {
    align-self: center;
    list-style-type: none;
    word-spacing: normal;
    padding-top: 20px;
}

.sidebar-ListTitle {
    font-size: 20px;
    font-family: monospace;
    color: #d7263d;
}

.sidebar-logo-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar-logo{
    padding-right: 10px;
    width: 30px;
    height: auto;
    margin-right: 10px;
}
.listLink {
    text-decoration: none;
    font-size: 15px;
    color: #d7263d;
}

.sidebar-list button {
    display: flex;
    align-items: center;
}


/*---------------------------------------------------------*/

/* bento box */

.bento-box-container {
    width: 95%;
    height: 100%;
    font-size: 25px;
    color: #f5f3f5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    background-color: #050505;
    border-radius: 10px;
    /* box-shadow: 0 0 20px #fefefe; */
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* @media (max-width: 800px) {
    .bento-box-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
    
@media (max-width: 600px) {
    .bento-box-container{
        grid-template-columns: 1fr;
    }
} */

/* Item styles */
.bento-box {
    background-color: #121212;
    padding: 20px;
    border-radius: 15px;
    /* box-shadow: 0 0px 8px #fefefe; */
    z-index: 0;
}

.my-face{
    grid-row: span 3;
}

.about-me-box {
    grid-column: span 2;
}
.project{
    grid-row: span 2;
    grid-column: span 3;
}

.reach-me{
    align-content: center;
}

.weather{
    grid-row: span 2;
    position: relative;
    width: auto;
    height: auto;
    background: purple;
    border-radius: 16px;
    padding: 20px;

}

.weather-search-box{
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.weather-search-box i{
    position: absolute;
    left: 10px;
    font-size: 28px;
}

.weather-search-box input{
    position:absolute;
    width: 3%vw;
    height: 100%;
    background: transparent;
    border: 2 px solid rgba(255,255,255,02);
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}

.weather-search-box input::placeholder{
    color: #fff;
    text-transform: capitalize;

}

.weather-search-box button{
    position: absolute;
    right: 0px;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: #fff;
    padding: 0 40px 0 5px;
    cursor: pointer; 
}
/*---------------------------------------------------------*/


/* make a bottom button called flash bang that turn the page white */