/* Color Palette
Red: #D7263d
White: #f5f3f5
Black: #141414
burble: #473198
Grey: #abacad
*/


.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* Global styles */
body {
    font-family: "Manrope", sans-serif;
    background-color: #050505;
    color: #f5f3f5;
    margin: 0;
    padding: 0;
}

button {
    background-color: #141414;
    color: #f5f3f5;
    width: auto;
    border: none;
    border-radius: 0;
    padding: 15px 5px; /* go fuck yourself idiot */
    font-size: 24px;
    margin-right: 20px;
    margin-left: -10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    /* Ensure proper positioning of pseudo-element */
}

button:hover {
    /* background-color: #473198; */
    /* Change background color to white on hover */
    color: #f5f3f5;
    /* Change text color to match original button background */
}


/*---------------------------------------------------------*/

/* custom classes */

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 30px;
    background-color: #141414;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    border-radius: 0 0rem 0rem 0;
    transition: width .75s ease;
    z-index: 1;
    padding: 10px 20px 200px 0px;
}

.sidebar:hover {
    width: 200px;
}

/* List in sidebar*/
.sidebar-list {
    align-self: center;
    list-style-type: none;
    word-spacing: normal;
    padding-top: 20px;
}

.sidebar-ListTitle {
    font-size: 20px;
    font-family: monospace;
    color: #d7263d;
}

.sidebar-logo-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar-logo{
    padding-right: 10px;
    width: 30px;
    height: auto;
    margin-right: 10px;
}
.listLink {
    text-decoration: none;
    font-size: 15px;
    color: #d7263d;
}

.sidebar-list button {
    display: flex;
    align-items: center;
}


/*---------------------------------------------------------*/

/* bento box */

.container {
    width: 90vw;
    height: 95vh;
    margin: 0 auto;
    transition: width 0.5s ease, margin-left 0.5s ease;
}

.bento-box-container {
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #f5f3f5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    background-color: #050505;
    border-radius: 10px;
    /* box-shadow: 0 0 20px #fefefe; */
    margin-top: 25px;

}

/* Item styles */
.bento-box {
    background-color: #121212;
    padding: 20px;
    border-radius: 15px;
    /* box-shadow: 0 0px 8px #fefefe; */
    z-index: 0;
}

.about-me-box {
    grid-column: span 2;
}
.project{
    grid-row: span 2;
}

/*---------------------------------------------------------*/


/* make a bottom button called flash bang that turn the page white */